.maincart-content {
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: flex-start;
    margin-block: 2rem;

    .cart-details {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        table {
            width: 90%;
            display: flex;
            flex-direction: column;

            thead {
                padding-bottom: 1rem;
                border-bottom: 2px solid #000;

                tr {
                    display: flex;
                    justify-content: space-between;
                }
                
                .flex1 {
                    flex: 1;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                .flex2 {
                    flex: 2;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                .flex3 {
                    flex: 3;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                .flex4 {
                    flex: 4;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                
                .flex5 {
                    flex: 5;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

                .flex6 {
                    flex: 6;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                .flex7 {
                    flex: 7;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                .flex8 {
                    flex: 8;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
                .flex9 {
                    flex: 9;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1.1rem;
                }

            }

            @media screen and (max-width: 600px) {
                thead {
                    display: none;
                }
            }

            tbody {
                width: 100%;

                tr {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #000;

                    td {
                        padding-top: 1rem;
                    }

                    .flex1 {
                        flex: 1;
                    }
    
                    .flex2 {
                        flex: 2;
                    }
    
                    .flex3 {
                        flex: 3;
                    }
    
                    .flex4 {
                        flex: 4;
                    }
                    
                    .flex5 {
                        flex: 5;
                    }
    
                    .flex6 {
                        flex: 6;
                    }
                    .flex7 {
                        flex: 7;
                    }
                    .flex8 {
                        flex: 8;
                    }
                    .flex9 {
                        flex: 9;
                    }

                    .index {

                        h1 {
                            font-size: 1.1rem;
                            font-weight: 600;
                            text-align: center;
                        }
                    }

                    .product {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 1rem;
                        padding: 1rem;
                        // width: 100%;

                        .cover-image {
                            width: 20%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
        
                            img {
                                width: 100%;
                            }
                        }
        
                        .book-details {
                            width: 50%;
        
                            h3 {
                                font-size: .7rem;
                                text-transform: uppercase;
                                font-weight: 600;
                                margin-bottom: .5rem;
                            }
        
                            h1 {
                                font-size: 1rem;
                                margin-bottom: .5rem;
                                line-height: 1.2rem;
                                font-weight: 600;
                            }
        
                            p {
                                margin-bottom: .3rem;
                                font-size: .8rem;
                                font-weight: 600;
                            }
        
                            h4 {
                                font-size: 1rem;
                                font-weight: 600;

                            }

                            .view-details {

                                button {
                                    border-radius: 5px;
                                    transition: all ease .5s;
    
                                    &:hover {
                                        background-color: rgb(7, 7, 175)
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (max-width: 650px) {
                        .product {
                            flex-direction: column;
                            align-items: center;

                            .cover-image {
                                width: 70%;
                            }

                            .book-details {
                                width: 90%;
                            }
                        }
                    }

                    .action {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        .counter-container {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;

                            .counter {
                                display: flex;
                                align-items: center;

                                .border {
                                    border: 1px solid #000;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                .subtract, .add {
                                    cursor: pointer;
                                    font-size: 1.1rem;
                                    font-weight: 600;
                                }

                                .number {
                                    font-size: 1.1rem;
                                    font-weight: 600;
                                }
                            }
                        }

                        .icon-con {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
            
                            .icon {
                                color: #000;
                                font-size: 1.5rem;
                            }
                        }
                    }

                    @media screen and (max-width: 600px) {
                        .action {
                            flex-direction: column;
                        }
                    }

                    @media screen and (max-width: 550px) {
                        .action {
                            flex-direction: row;
                        }
                    }

                    .price {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h4 {
                            font-size: 1.1rem;
                            font-weight: 600;
                        }
                    }

                }

                @media screen and (max-width: 550px) {
                    tr {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .empty-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;

        .border-bottom {
            width: 90%;
            border-bottom: 2px solid #000;
        }

        .icon-con {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 10rem;
                color: #000;
                margin-bottom: 2rem;
            }
        }

        p {
            text-align: center;
            font-size: 1.5rem;
            line-height: 2rem;
            width: 60%;
            margin-bottom: 1rem;
        }
    }

    .continue-shopping {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-block: 2rem;

        button {
            border-radius: 5px;
            transition: all ease .5s;

            &:hover {
                background-color: rgb(7, 7, 175)
            }
        }
    }

    .cart-summary {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .summary-content {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: flex-end;

            .subtotal {
                display: flex;
                align-items: center;
                gap: 5rem;

                p {
                    font-size: 1.1rem;
                    font-weight: 600;
                }

                .total-cost {
                    font-size: 1.6rem;
                    font-weight: 700;
                }

                @media screen and (max-width: 400px) {
                    .total-cost {
                        font-size: 1.4rem;
                    }
                }
            }

            .info {
                font-size: 1.1rem;
                font-weight: 500;
                text-align: center;
            }

            .action-container {
                button {
                    border-radius: 5px;
                    transition: all ease .5s;
        
                    &:hover {
                        background-color: rgb(7, 7, 175)
                    }
                }
            }
        }
    }
}